{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <h3 class="my-1 display-6">Welcome, <span class="capitialize">{{request.user.first_name}}</h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid mt-2"><a href="{% url 'profile' %}" class="btn btn-warning">Edit Profile</a></li>
   </ul>
  </div>
  <div class="col-sm-6 offset-sm-2">
   <form action="" method="post" novalidate class="shadow-sm p-3">
     {% csrf_token %}
     
     {% for fm in form %}
     
     <div class="form-group">
      {{fm.label_tag}}{{fm}}<small class="text-danger">{{fm.errors|striptags}}</small><br>
     </div>

     {% endfor %}
     <div class="col-sm-6 offset-sm-6 d-grid justify-content-md-end "> 
     <input type="submit" value="  save  " class="btn btn-warning" >
     </div>
    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <p class="alert alert-danger my-3">{{error}}</p>
    {% endfor %}
    {% endif %}
       

   </form>
  </div>
 </div>
</div>
{% endblock main-content %}