{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
    <h4 class="alert-heading text-center">Well Done!!</h4>
    <p class="text-center">An Email has been sent with link to reset your password. <b>Check Your Email!!!</b></p>
    <div class="text-center"><img src="./../../../media/productimg/tenor.gif" width="150" height="150"></div>
  </div>
 </div>
</div>
{% endblock main-content %}